# data & artifacts
data/
*.csv
*.parquet
*.xlsx
*.zip
*.shp
*.tif
*.log
# notebooks cache
.ipynb_checkpoints/
# python
__pycache__/
*.pyc
# macOS
.DS_Store
# env
.env
# tableau cache
dashboard/*.twb.backup